#shop-menu {
  margin: 10px 0;
  width: 100%;
}

#shop-menu-list {
  overflow: hidden;
}
#shop-menu-list .shop-menu-item {
  float: left;
  border: solid 1px #eee;
  background-color: #fff;
  width: 139px;
  margin: 10px 3px;
  vertical-align: top;
}
#shop-menu-list .shop-menu-item a {
  text-decoration: none;
  display: block;
  padding: 9px 0;
  overflow: hidden;
}
#shop-menu-list .shop-menu-item a:hover {
  background-color: #eef3fd;
}
#shop-menu-list .shop-menu-item img {
  width: 125px;
  margin: 6px;
}
#shop-menu-list .shop-menu-item p {
  display: block;
  font-size: 1em;
  line-height: 1.4em;
  margin: 7px;
  margin-top: 0px;
  width: 120px;
  text-decoration: inherit;
  text-align: center;
  overflow: hidden;
  font-size: 1em;
}
#shop-menu-list .shop-menu-item p.shop-menu-name {
  height: 2.8em;
}
#shop-menu-list .shop-menu-item p.shop-menu-price {
  height: 1.4em;
  color: #ff4500;
  font-weight: bold;
}

#next-menu-btn {
  display: none;
  background-color: #428BCA;
  color: #FFFFFF;
  border-color: #357EBD;
  margin: 30px auto;
  line-height: 2.4;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#next-menu-btn:hover, #next-menu-btn:focus {
  background-color: #3276B1;
  border-color: #285E8E;
  color: #FFFFFF;
}

#loader {
  display: none;
  text-align: center;
  margin: 30px auto;
}
